/* Define CSS Variables */
:root {
    --primary-bg-color: #6a5e8d;
    --secondary-bg-color: #36454f;
    --accent-bg-color: #f8f9fa;
    --hover-bg-color: #525c64;
    --text-color: #fff;
    --text-color-dark: #333;
    --highlight-color: yellow;
    --border-color: rgba(0, 0, 0, 0.1);
    --font-family: 'Open Sans', sans-serif;
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: var(--accent-bg-color);
    color: var(--text-color-dark);
}

/* Header Styles */
header {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--border-color);
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    color: var(--text-color);
}

#hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
    display: block;
}

nav {
    background-color: var(--secondary-bg-color);
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; /* Hidden by default */
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    align-items: center;
}

#nav-links li {
    width: 100%;
}

#nav-links a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

#nav-links a:hover {
    text-decoration: overline;
    background-color: var(--hover-bg-color);
}

.active {
    color: var(--highlight-color);
}

.hidden {
    display: none;
}

/* Main Styles */
.section-title {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
}

main {
    max-width: 100%;
    padding: 1rem;
}

.temple-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

figure {
    margin: 0;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

figure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    height: auto;
    border: 2px solid var(--primary-bg-color);
    border-radius: 10px;
}

/* Footer Styles */
footer {
    background-color: #2a243e;
    color: #fffae3;
    text-align: center;
    padding: 1rem;
}
