/* temples-large.css */

/* Styles for Larger View */
@media (min-width: 32rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
    }

    #hamburger {
        display: none;
    }

    #nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        margin-left: auto;
    }

    #nav-links li {
        margin: 0 1rem;
    }

    main {
        max-width: 1200px;
        margin: auto;
    }

    .temple-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
